[Unit]
After=local-fs.target network-pre.target networking.service
Before=network.target

[Service]
User=le9i0nx
TimeoutStartSec=10
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/redshift-gtk
Restart=on-failure
RestartSec=5s
SuccessExitStatus=2 3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target

