<?php
## This file is managed by Ansible, all changes will be lost
$dbuser='{{postfixadmin_control_user}}';
$dbpass='{{postfixadmin_control_password}}';
$basepath='';
$dbname='{{postfixadmin_control_database}}';
$dbserver='';
$dbport='';
$dbtype='{{postfixadmin_dbtype}}';
/* vim: set expandtab filetype=php softtabstop=4 tabstop=4 shiftwidth=4: */
