[submodule "roles/le9i0nx.syncthing"]
	path = roles/le9i0nx.syncthing
	url = https://github.com/le9i0nx/ansible-syncthing.git
[submodule "roles/le9i0nx.smartd"]
	path = roles/le9i0nx.smartd
	url = https://github.com/le9i0nx/ansible-smartd.git
[submodule "roles/nbz4live.nagios-nrpe-server"]
	path = roles/nbz4live.nagios-nrpe-server
	url = https://github.com/le9i0nx/ansible-nagios-nrpe-server.git
[submodule "roles/debops.rsyslog"]
	path = roles/debops.rsyslog
	url = https://github.com/le9i0nx/ansible-rsyslog.git
[submodule "roles/debops.users"]
	path = roles/debops.users
	url = https://github.com/le9i0nx/ansible-users.git
[submodule "roles/debops.console"]
	path = roles/debops.console
	url = https://github.com/le9i0nx/ansible-console.git
[submodule "roles/debops.ntp"]
	path = roles/debops.ntp
	url = https://github.com/le9i0nx/ansible-ntp.git
[submodule "roles/debops.sshd"]
	path = roles/debops.sshd
	url = https://github.com/le9i0nx/ansible-sshd.git
[submodule "roles/debops.secret"]
	path = roles/debops.secret
	url = https://github.com/le9i0nx/ansible-secret.git
[submodule "roles/debops.ferm"]
	path = roles/debops.ferm
	url = https://github.com/le9i0nx/ansible-ferm.git
[submodule "roles/debops.auth"]
	path = roles/debops.auth
	url = https://github.com/le9i0nx/ansible-auth.git
[submodule "roles/debops.mysql"]
	path = roles/debops.mysql
	url = https://github.com/le9i0nx/ansible-mysql.git
[submodule "roles/debops.php5"]
	path = roles/debops.php5
	url = https://github.com/le9i0nx/ansible-php5.git
[submodule "roles/debops.nginx"]
	path = roles/debops.nginx
	url = https://github.com/le9i0nx/ansible-nginx.git
[submodule "roles/debops.apt_preferences"]
	path = roles/debops.apt_preferences
	url = https://github.com/le9i0nx/ansible-apt_preferences.git
[submodule "roles/debops.core"]
	path = roles/debops.core
	url = https://github.com/le9i0nx/ansible-core.git
[submodule "roles/debops.tinc"]
	path = roles/debops.tinc
	url = https://github.com/le9i0nx/ansible-tinc.git
[submodule "roles/le9i0nx.networkd"]
	path = roles/le9i0nx.networkd
	url = https://github.com/le9i0nx/ansible-networkd.git
[submodule "roles/debops.apt"]
	path = roles/debops.apt
	url = https://github.com/le9i0nx/ansible-apt.git
[submodule "roles/le9i0nx.avachi"]
	path = roles/le9i0nx.avachi
	url = https://github.com/le9i0nx/ansible-avahi.git
[submodule "roles/le9i0nx.hostname"]
	path = roles/le9i0nx.hostname
	url = https://github.com/le9i0nx/ansible-hostname.git
[submodule "roles/le9i0nx.rspamd"]
	path = roles/le9i0nx.rspamd
	url = https://github.com/le9i0nx/ansible-rspamd.git
[submodule "roles/le9i0nx.proxmox"]
	path = roles/le9i0nx.proxmox
	url = https://github.com/le9i0nx/ansible-proxmox.git
[submodule "roles/debops.dovecot"]
	path = roles/debops.dovecot
	url = https://github.com/le9i0nx/ansible-dovecot.git
[submodule "roles/le9i0nx.bind"]
	path = roles/le9i0nx.bind
	url = https://github.com/le9i0nx/ansible-bind.git
[submodule "roles/debops.dhcpd"]
	path = roles/debops.dhcpd
	url = https://github.com/le9i0nx/ansible-dhcpd.git
[submodule "roles/le9i0nx.squid"]
	path = roles/le9i0nx.squid
	url = https://github.com/le9i0nx/ansible-squid.git
