[submodule "roles/le9i0nx.syncthing"]
	path = roles/le9i0nx.syncthing
	url = https://github.com/le9i0nx/ansible-syncthing.git
[submodule "roles/le9i0nx.dspam"]
	path = roles/le9i0nx.dspam
	url = https://github.com/le9i0nx/ansible-dspam.git
[submodule "roles/le9i0nx.smartd"]
	path = roles/le9i0nx.smartd
	url = https://github.com/le9i0nx/ansible-smartd.git
[submodule "roles/nbz4live.nagios-nrpe-server"]
	path = roles/nbz4live.nagios-nrpe-server
	url = https://github.com/le9i0nx/ansible-nagios-nrpe-server.git
[submodule "roles/debops.rsyslog"]
	path = roles/debops.rsyslog
	url = https://github.com/le9i0nx/ansible-rsyslog.git
[submodule "roles/debops.users"]
	path = roles/debops.users
	url = https://github.com/le9i0nx/ansible-users.git
[submodule "roles/debops.console"]
	path = roles/debops.console
	url = https://github.com/le9i0nx/ansible-console.git
[submodule "roles/debops.ntp"]
	path = roles/debops.ntp
	url = https://github.com/le9i0nx/ansible-ntp.git
[submodule "roles/debops.sshd"]
	path = roles/debops.sshd
	url = https://github.com/le9i0nx/ansible-sshd.git
[submodule "roles/debops.secret"]
	path = roles/debops.secret
	url = https://github.com/le9i0nx/ansible-secret.git
[submodule "roles/debops.ferm"]
	path = roles/debops.ferm
	url = https://github.com/le9i0nx/ansible-ferm.git
[submodule "roles/debops.auth"]
	path = roles/debops.auth
	url = https://github.com/le9i0nx/ansible-auth.git
[submodule "roles/debops.tcpwrappers"]
	path = roles/debops.tcpwrappers
	url = https://github.com/le9i0nx/ansible-tcpwrappers.git
[submodule "roles/debops.sshkeys"]
	path = roles/debops.sshkeys
	url = https://github.com/le9i0nx/ansible-sshkeys.git
[submodule "roles/debops.mysql"]
	path = roles/debops.mysql
	url = https://github.com/le9i0nx/ansible-mysql.git
[submodule "roles/debops.php5"]
	path = roles/debops.php5
	url = https://github.com/le9i0nx/ansible-php5.git
[submodule "roles/debops.nginx"]
	path = roles/debops.nginx
	url = https://github.com/le9i0nx/ansible-nginx.git
