
[defaults]
filter_plugins = ./filter_plugins:/usr/share/ansible/plugins/filter
lookup_plugins = ./lookup_plugins:/usr/share/ansible/plugins/lookup
library        = ./library
roles_path     = ./roles
retry_files_save_path = /tmp/

# some basic default values...

inventory      = ./inventory/hosts
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
transport      = smart
remote_port    = 22
module_lang    = C

timeout = 10
ansible_managed = This file is managed by Ansible, all changes will be lost.

gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_caching
fact_caching_timeout = 86400

[paramiko_connection]
host_key_auto_add = True
pty = False

