Content-Type: text/plain; charset=utf-8
Subject: Mail delivery failed ${if eq{$sender_address}{$bounce_recipient} {: returning message to sender}}
****
Это сообщение создано автоматически почтовой системой.
This message was created automatically by mail delivery software.

Сообщение, ${if eq{$sender_address}{$bounce_recipient}
  {которое отправили вы }{отправленное

<$sender_address>

}}не может быть доставлено получателям.
Это постоянная ошибка. Следующие адреса дали сбой:

A message ${if eq{$sender_address}{$bounce_recipient}
  {that you sent }{sent by

<$sender_address>

}}could not be delivered to all of its recipients.
This is a permanent error. The following address(es) failed:
****
Следующий текст был создан во время попыток доставки:
The following text was generated during the delivery attempt(s):
****
------ Вот копия письма со всеми заголовками. ------
------ This is a copy of the message, including all the headers. ------
****
------ The body of the message is $message_size characters long;
  only the first
------ $bounce_return_size_limit or so are included here.
****
