  deny  hosts = !+white_list_local_hosts
        message = Connection closed. Spamscore threshold (120 points) reached. Please contact with postmaster or call 8(351)729-94-90(345). \
                 Spamscore is $acl_c_spamscore! \
                 Warning: IP [$sender_host_address] added to Blacklist. \
                 Details: $acl_c_spamlog
        condition = ${if >={$acl_c_spamscore}{120}{yes}{no}}
        condition = GET_NOT_WHITELIST
        condition = ADD_OR_UPD_BLACKLIST_TB
        add_header = X-Spamscore: $acl_c_spamscore
        add_header = X-Warning: ADD blacklist [$sender_host_address];

