^.*([0-9]+).([0-9]+).([0-9]+).([0-9]+).*
^.*dhcp.*
^.*host.*
^.*dsl.*
^.*dial.*
^.*broad.*
^.*band.*
^.*user.*
^.*pool.*
^.*client.*
^.*cable.*
^.*pppoe.*
^.*hsd.*
^.*dyn.*
^.*static.*
^.*ppp.*
^.*speedy.*
^.*customer.*
