## This file is managed by Ansible, all changes will be lost
default_process_limit = 100
default_client_limit = 1000
{#
# Лимит VSZ (virtual memory size) для процессов по умолчанию. Такая
# плюшка предназначена, чтобы отловить и прибить процессы, которые
# пытаются слопать всю память.
#default_vsz_limit = 256M
 
# Пользователь, под которым работает процесс авторизации пользователй.
# Этот пользователь должен иметь самые минимальные права в системе.
#}
default_login_user = dovenull
{#
# Пользователь, под которым работают непривелигерованные процессы.
# Это должен быть другой пользователь (не такой же, как в default_login_user),
# чтобы пользователь default_login_user не мог оказать никакого влияния
# на другие процессы Dovecot,а.
#}
default_internal_user = dovecot

service imap-login {
  inet_listener imap {
      port = 143
    }
  inet_listener imaps {
      port = 993
      ssl = yes
    }
{#
  # Количество активных подключений, по превышению которого будет создан
  # новый процесс. Обычно используются значения 0 (без ограничений) или 1. 
  # Подход со значением 1 является более безопасным, но медленным
  # по сравнению со значением 0. <doc/wiki/LoginProcess.txt>
#}
  service_count = 0
{#
  # Количество процессов, ждущих подключений.
#}
  process_min_avail = 15
{#
  # Если вы установили service_count=0, то памяти процессу нужно выделить больше.
#}
  vsz_limit = 96M
}

service pop3-login {
  inet_listener pop3 {
      port = 110
    }
  inet_listener pop3s {
      port = 995
      ssl = yes
    }
}

service lmtp {
  unix_listener lmtp {
{#
      #mode = 0666
#}
    }
{#
  # Параметры сетевого сокета
  #inet_listener lmtp {
      # Avoid making LMTP visible for the entire internet
      #address =
      #port = 
   # }
#}
}

service imap {
{#  # Большая часть памяти уходит для mmap()ing файлов. Для очень больших вложений
  # памяти нужно выделить больше.
#}
  vsz_limit = 256M
{#
  # Максимальное количество процессов обрабатывающих IMAP подключения.
#}
  process_limit = 2048
}

service pop3 {
{#  # Максимальное количество процессов обрабатывающих POP3 подключения.
#}
  process_limit = 128
}

service auth {
{#
  # auth_socket_path указыват расположение Unix сокета. Он может
  # использоваться dovecot-lda, doveadm, процессами imap process и т.д.
  # По умолчанию только пользователь root имеет к нему доступ, причем
  # только права на чтение, но вам может потребоваться изменить права
  # доступа к Unix сокету. Пользоваели, которые имеют доступ к сокету
  # могут получить список всех пользователей и получить любые данные,
  # возвращаемые запросами к базе данных пользователй.
#}
  unix_listener auth-userdb {
{#
#		mode = 0600
#		user = mailnull
#		group = wheel
#}
  }

  unix_listener auth-client {
    mode = 0600
    user = Debian-exim
    group = root
  }
{#
  # Postfix smtp-auth
  #unix_listener /var/spool/postfix/private/auth {
    #  mode = 0666
    # }
 
 
  # Пользователь, под которым работает процесс авторизации.
#}
  user = $default_internal_user
}

service auth-worker {
{#
  # По умолчанию данный процесс (auth worker) запускается под рутом,
  # чтобы иметь возможность доступа к файлу /etc/shadow. Если вам это
  # не нужно, то можно запускать его под пользователем $default_internal_user.
#}
  user = $default_internal_user
}

service dict {
{#
  # Если используется dict proxy, то процессы, обрабатывающие почту,
  # должны иметь доступ к сокету dict proxy.
  # Например: mode=0660, group=vmail and global mail_access_groups=vmail
#}
  unix_listener dict {
{#
      #mode = 0600
      #user = 
      #group = 
#}
    }
}
## vim: syntax=sh:expandtab:foldmethod=marker:tabstop=2:shiftwidth=2:softtabstop=2
