##
## Параметры POP3
##
 
protocol pop3 {
  # Не выставлять флаги (надавний или прочитанно) на письма
  # в сессии POP3. Это может поребоваться для уменьшения
  # нагрузки на подсистему ввода/вывода диска. При работе
  # с хранилищем maildir не будут перемещаться файлы из
  # директории new/ в директорию cur/, а с mbox не будет записываться
  # Status-header.
  #pop3_no_flag_updates = no
 
  # Поддержка команды LAST, которая была описана в старых спеках POP3,
  # но удалена в новых. Некоторые клиенты все еще ее используеют.
  # При включенной опциивыполнение команды RSET приведет к сбросу
  # флага \Seen (прочитано) во всех сообщениях.
  #pop3_enable_last = no
 
  # Если у письма есть заголовок X-UIDL, то использовать его UIDL.
  #pop3_reuse_xuidl = no
 
  # Блочить ящик на время POP3 сессии.
  pop3_lock_session = yes
 
  # POP3 requires message sizes to be listed as if they had CR+LF linefeeds.
  # Many POP3 servers violate this by returning the sizes with LF linefeeds,
  # because it's faster to get. When this setting is enabled, Dovecot still
  # tries to do the right thing first, but if that requires opening the
  # message, it fallbacks to the easier (but incorrect) size.
  #pop3_fast_size_lookups = no
 
  # Использовать POP3 UIDL (уникальный идентификатор письма).
  # Вы можете использовать следующие значения, вместе с модификаторами
  # описанными в <doc/wiki/Variables.txt> (например, %Uf будет значить,
		    # что имя файла будет в верхнем регистре).
  #
  #  %v - Mailbox's IMAP UIDVALIDITY
  #  %u - Mail's IMAP UID
  #  %m - хэш MD5 заголовков ящика в hex (только для mbox)
  #  %f - имя файла (только maildir)
  #  %g - Mail's GUID
  #
  # Если вы хотите ,чтобы UIDL был совместим с другими POP3 серверами,
  # то используйте следующее:
  #  UW's ipop3d         : %08Xv%08Xu
  #  Courier             : %f or %v-%u (both might be used simultaneosly)
  #  Cyrus (<= 2.1.3)    : %u
  #  Cyrus (>= 2.1.4)    : %v.%u
  #  Dovecot v0.99.x     : %v.%u
  #  tpop3d              : %Mf
  #
  # Учтите, что Outlook 2003 криво работает с форматом %v.%u, который
  # является значением по умолчанию  для Dovecot, так что если вы
  # настраиваете новый сервер, то хорошим решением будет изменить
  # данный параметр. Формат %08Xu%08Xv является самым удачным.
  #
  #pop3_uidl_format = %08Xu%08Xv
 
  # Сохранять UIDLs посланные POP3 клиентам, таким образом
  # pop3_uidl_format не будет изменять их. На данный момент работает
  # только с Maildir.
  #pop3_save_uidl = no
 
  # Формат логов POP3:
  #  %i - общее кол-во байт полученное от клиента
  #  %o - общее кол-во байт отправленное клиенту
  #  %t - количество команд TOP
  #  %p - кол-во байт, отправленное клиенту при вып. команды TOP
  #  %r - число команд RETR
  #  %b - кол-во байт, отправленное клиенту при вып. команды RETR
  #  %d - кол-во удаленных сообщений
  #  %m - кол-во сообщений (перед удалением)
  #  %s - размер ящика в байтах (перед удалением)
  #  %u - старый/новый хэш UIDL. Может помочь в поиске сообшений (или проблем),
  #    если UIDLs неожиданно изменился
  #pop3_logout_format = top=%t/%p, retr=%r/%b, del=%d/%m, size=%s
 
  # Максимальное кол-во подключений для пользователя с одного IP адреса.
  # Учтите, что в имени пользователя учитывается регистр букв.
  mail_max_userip_connections = 5
 
  # Список подключаемых плагинов, разделенный запятыми
  # (по умолчанию значение глобальной переменной mail_plugins).
  #mail_plugins = $mail_plugins
 
  # Хаки для некоторых быжных клиентов:
  #   outlook-no-nuls:
  #     Outlook и Outlook Express отупляются, если письмо содержит
  #     символы NUL. С этим хаком такие символы будут заменены на
  #     символ 0x80.
  #   oe-ns-eoh:
  #     Outlook Express и Netscape Mail тупят, если пропущено окончание
  #     строки в заголовках. С этим хаком это дело поправимое.
  #
  # Элементы списка должны быть разделены пробелами.
  #pop3_client_workarounds = 
  pop3_client_workarounds = outlook-no-nuls oe-ns-eoh
}
