## This file is managed by Ansible, all changes will be lost
##
## Параметры для интерпритатора Sieve
## 
 
# Не забывайте включить плагин Sieve в файлах 15-lda.conf и 20-lmtp.conf,
# используя переменную mail_plugins.
 
plugin {
  # Путь к Sieve скрипту пользователя.
  sieve = ~/dovecot.sieve
 
  # Путь к глобальному Sieve скрипту, который будет запущен только, если
  # у пользователя нет собственного Sieve скрипта. Данный скрипт необходимо
  # будет самостоятельно скомпилировать утилитой sievec.
  #sieve_global_path = /var/lib/dovecot/sieve/default.sieve
 
  # Directory for :personal include scripts for the include extension. 
  sieve_dir = ~/sieve
 
  # Directory for :global include scripts for the include extension. 
  #sieve_global_dir =
 
  # Какие расширения языка Sieve доступны пользователям. По умолчанию
  # доступны все поддерживаемые расширения, за исключением запрещенных
  # или расширений, находящихся на этапе разработки. Некоторым системным
  # администраторам может понадобиться запретить некоторые расширения или
  # разрешить расширения, которые по умолчанию не включены. Используя
  # '+' и '-' вы можете изменить поддержку тех или иных расширений
  # относительно стандартных настроек. Например, `sieve_extensions = +imapflags'
  # дополнительно к расширениям по уолчанию, включит запрещенное
  # расширение imapflags.
  sieve_extensions = +notify +imapflags +vacation-seconds
 
  # The separator that is expected between the :user and :detail 
  # address parts introduced by the subaddress extension. This may 
  # also be a sequence of characters (e.g. '--'). The current 
  # implementation looks for the separator from the left of the 
  # localpart and uses the first one encountered. The :user part is 
  # left of the separator and the :detail part is right. This setting
  # is also used by Dovecot's LMTP service.
  #recipient_delimiter = +
 
  # Максимальный размер скрипта Sieve. Компилятор будет отшибать любой
  # скрипт, размер которого больше указанного здесь предела.
  sieve_max_script_size = 1M
 
  # Максимальное количество команд в одном скрипте.
  sieve_max_actions = 64
 
  # Максимальное количество переадресаций в одном скрипте.
  sieve_max_redirects = 16
 
  # Максимальное количество скриптов Sieve, которое может иметь пользователь.
  # (Currently only relevant for ManageSieve)
  sieve_quota_max_scripts = 30
 
  # Максимальный сумарный размер скриптов для одного пользователя.
  # (Currently only relevant for ManageSieve) 
  #sieve_quota_max_storage = 0
}
